<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Financial_Control.Properties.Settings.finantialcontroldbConnectionString"
            connectionString="server=localhost;persistsecurityinfo=True;user id=root;password=74Lb29-Ka;database=finantialcontroldb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>